.cart{
    display: flex;
    padding: 20px;
    height: max-content;
    margin: 10px;
}

.cart_add{
    width: 100%;
}


.cart_heading{
    position: relative;
    font-size: 14px;
    top: 5px;
    right: 10px;
}

.cart_heading h1{
    font-weight: 600;
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #a8a6a6;
}

.cart_left{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.cart_right{
    display: flex;
    flex-direction: column;
    margin-top: 178px;
}



@media only screen and (max-width: 1298px){
    .cart_right{
        display: flex;
        flex-direction: column;
        margin-top: 150px;
    }
    .cart_left{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }
    .cart_heading{
        margin-top: -50px;
    }
    .cart_add{
        position: relative;
        bottom: 50px;
    }
}
